<section class="flex items-center gap-x-6">
    <div id="createroomBtn"
        class="group relative flex justify-center items-center text-zinc-600 text-sm font-bold cursor-pointer">
        <div
            class="absolute opacity-0 group-hover:opacity-100 group-hover:-translate-y-[150%] -translate-y-[300%] duration-500 group-hover:delay-500 skew-y-[20deg] group-hover:skew-y-0 shadow-md cursor-pointer">
        </div>
        <div
            class="shadow-md flex items-center group-hover:gap-2 group-hover:pr-4 border border-white p-2 rounded-full cursor-pointer duration-300">
            <img src="/chat/Assets/add.svg" class="cursor-pointer w-7">
            <span class="text-[0px] group-hover:text-sm duration-300 cursor-pointer">Create</span>
        </div>
    </div>
    <div id="joinroomBtn"
        class="group relative flex justify-center items-center text-zinc-600 text-sm font-bold cursor-pointer">
        <div
            class="absolute opacity-0 group-hover:opacity-100 group-hover:-translate-y-[150%] -translate-y-[300%] duration-500 group-hover:delay-500 skew-y-[20deg] group-hover:skew-y-0 shadow-md cursor-pointer">
        </div>
        <div
            class="shadow-md flex items-center group-hover:gap-2 group-hover:pr-4 border border-white p-2 rounded-full cursor-pointer duration-300">
            <img src="/chat/Assets/join.svg" class="cursor-pointer w-7">
            <span class="text-[0px] group-hover:text-sm duration-300 cursor-pointer">Join</span>
        </div>
    </div>
</section>