<nav class="w-[100%] my-3 px-8">
    <ul class="flex items-center justify-between">
        <li class="text-3xl font-bold">WebChat</li>
        <li class="flex gap-x-4 font-bold items-center">
            <p id="username">
                <%=uname%>
            </p>
            <a href="/profile">
                <img src=<%=avatar%> id="avatar" class="cursor-pointer w-10 h-10 rounded-3xl border border-white
                object-cover">
            </a>
        </li>
    </ul>
</nav>